flask
flask-sqlalchemy
flask-login
flask-migrate
flask-wtf
fastapi
uvicorn
sqlalchemy
python-jose
passlib[bcrypt]
python-multipart
pandas
openpyxl
python-dotenv
bcrypt
numpy
xlsxwriter
werkzeug
requests
click
itsdangerous
jinja2
markupsafe