flask
flask-sqlalchemy
flask-login
flask-migrate
flask-wtf
fastapi
uvicorn
sqlalchemy==1.4.49 
python-jose
passlib[bcrypt]
python-multipart
pandas
openpyxl
python-dotenv
bcrypt==4.0.1
numpy
xlsxwriter
werkzeug
requests
click
itsdangerous
jinja2
markupsafe
httpx